<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201274280583-eih81te6e0ibj1g5ort2fbtemn600esj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201274280583-eih81te6e0ibj1g5ort2fbtemn600esj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201274280583-t4m3q567i1m9jsdkrh3kvjqogfpgn9ah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFl4_MTtdHpzApSurZfmwJmyMNpa7WbSA</string>
	<key>GCM_SENDER_ID</key>
	<string>201274280583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poke</string>
	<key>PROJECT_ID</key>
	<string>plant-reminder-90745</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-reminder-90745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201274280583:ios:7fb26b737efd114995c622</string>
</dict>
</plist>